.back_image{
    background-image: url("../../img/home_back.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
.numberPage{
    margin-top: 0px;
    margin-bottom: 5px;
}
