.dogs{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    place-content: center;
    align-content: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

